footer{
    padding: 70px;
    .all{
        margin-bottom: 40px;
        display: flex;
        justify-content: space-between;
        .par{
            display: flex;
        }
        .icons{
            display: flex;
            gap: 20px;
        }
        
    }
    
    
    
}